body {
    background-color: rgb(23, 21, 21);
}
#menu ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
h1{
    margin:auto;
    text-align: center;
}
#container{
    margin:auto;
    width: 80%;
    max-width: 800px;
    

}
#asd2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    
    gap: 5px;
}
.cikk img{
    width: 100%;
    max-width: 100px;
}
.cikk{
    margin:auto;
    text-align: center;
    
}
h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3 {
    color: white;
}
 li{
    color: white;
}
.tartalom2 img{
    width: 100%;
    
    margin: auto;
    

}
.fotartalom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  




}
h4 {
    color: white;
}
.tartalom1 {
    margin: auto;
}
p {
    color: white;
}

.szoveg{
    text-align: center;
}
.elso {
   
}